body {
  background-color: #ececec;
}
nav {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #89d87f; /* Agrega un fondo al menú */
}

nav h1 {
  padding-left: 0px; /* Cambiar este valor para ajustar el espacio entre el borde izquierdo del menú y el texto */
  margin-left: -40px; /* Cambiar este valor para mover el texto hacia la izquierda */ 
}

nav ul {
  list-style: none; /* Quita el marcador de lista */
  margin: 0; /* Quita el margen exterior de la lista */
  padding: 0; /* Quita el relleno interior de la lista */
}

nav ul li {
  float: left; /* Flota los elementos de lista a la izquierda */
  position: relative; /* Establece el contexto de posicionamiento relativo para los submenús */
}

nav ul li a {
  display: block; /* Hace que el anclaje se muestre como un bloque para que tenga una altura y un ancho */
  padding: 10px 15px; /* Establece un relleno interior de 10px arriba/abajo y 15px izquierda/derecha */
  text-decoration: none; /* Quita la subrayado de los enlaces */
  color: #333; /* Establece el color del texto a negro (#333) */
}

nav ul li:hover > a {
  background-color: #4CAF50; /* Establece un fondo cuando se pasa el cursor sobre un elemento de lista principal */
}

nav ul ul {
  display: none; /* Esconde todos los submenús por defecto */
  position: absolute; /* Establece el contexto de posicionamiento absoluto para los submenús */
  top: 100%; /* Establece la posición superior del submenú para que aparezca debajo del elemento de lista principal */
  left: 0; /* Establece la posición izquierda del submenú para que esté alineado con el borde izquierdo del elemento de lista principal */
  background-color: #fff; /* Establece el fondo del submenú */
  padding: 0; /* Quita el relleno interior del submenú */
}

nav ul ul li {
  float: none; /* Establece los elementos de lista del submenú a la posición normal (sin flotación) */
  width: 200px; /* Establece el ancho del submenú a 200 píxeles */
}

nav ul ul a {
  padding: 5px 15px; /* Establece un relleno interior de 5px arriba/abajo y 15px izquierda/derecha */
  color: #333; /* Establece el color del texto a negro (#333) */
}

nav ul ul a:hover {
  background-color: #f7f7f7; /* Establece un fondo gris claro (#f7f7f7) cuando se pasa el cursor sobre un elemento de lista del submenú */
  color: red;
}

nav ul li:hover > ul {
  display: inherit; /* Hace que el submenú correspondiente se muestre cuando se pasa el cursor sobre un elemento de lista principal */
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 140px;
  height: auto;
  margin-right: -100px; /* Agrega un margen derecho de 10px a la imagen */
}

nav form {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

nav input[type="search"] {
  margin-right: 5px;
  margin-left: -200px; /* Cambiar este valor para mover la barra de buscar hacia la izquierda */
  width: 400px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}


nav button[type="submit"] {
  padding: 10px;
  font-size: 16px;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

nav button[type="submit"]:hover {
  background-color: #ccc;
}

nav ul li a.bienvenido {
  font-size: 20px; /* Agrega el tamaño de fuente que desees, por ejemplo 20px */
  font-weight: bold; /* Hace que el texto esté en negrita */
}

nav ul li:hover > a.gestor {
  background-color: #4CAF50; /* Establece un fondo cuando se pasa el cursor sobre un elemento de lista principal */
}
nav ul.gestor li a {
  font-size: 1.2em; /* Cambiar este valor para aumentar o disminuir el tamaño de fuente */
  font-weight: bold; /* Hace que el texto esté en negrita */
}

nav ul li a.activos-fijos {
  font-size: 20px; /* Establece el tamaño de fuente que desees, por ejemplo 20px */
  font-weight: bold; /* Establece el peso de la fuente en negrita */
}


/*ESTILOS PARA LOS CUADRADOS DE LAS FACULTADES*/

.contenedor-cuadros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.cuadro {
  background-color: #89d87f;
  width: calc(33.33% - 10px);
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.cuadro h2 {
  margin-bottom: 10px;
  text-align: center;
  
}
.cuadro h2 a {
  text-decoration: none;
  color: black;
}
.cuadro h2 a:hover {
  color: rgb(236, 19, 19);
}
.cuadro ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cuadro ul li {
  margin-bottom: 5px;
}

/* Añadir una nueva fila */
.contenedor-cuadros:nth-child(2) .cuadro {
  margin-top: 20px;
}

/* Eliminar el margen derecho del último cuadro de cada fila */
.cuadro:nth-child(3n) {
  margin-right: 0;
}

/*ESTILOS PARA LOS EDIFICIOS */
.EDIFICIO {
  display: inline-block;
  margin: 20px;
  text-align: center;
  border: 2px solid #ddd;
  box-shadow: 2px 2px 5px #aaa;
  width: 200px; /* ajusta el ancho según tus necesidades */
}

.EDIFICIO img {
  width: 200px; /* ajusta el ancho según tus necesidades */
  height: 100px; /* ajusta la altura según tus necesidades */
  border: 10px solid #54e27a;
}

.EDIFICIO:hover  h1 a{
  color: red;
}

.EDIFICIO  h1 a {
  color: inherit;
  text-decoration: none;
}

/* FORMULARIO EDIFICIO */

.formularioEdificio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: #89d87f;
}

.formularioEdificio img {
  align-self: center;
  margin-right: 20px;
  }

.formularioEdificio form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formularioEdificio label {
  margin-bottom: 5px;
}

.formularioEdificio input[type="text"],
.formularioEdificio input[type="number"] {
  border: none; /* Sin borde */
  text-align: center; /* Alineación del texto */
  border-radius: 5px; /* Borde redondeado */
  display: block; /* Convertir en bloque */
  font-size: 16px; /* Tamaño de fuente */
  margin-bottom: 10px; /* Espacio inferior */
  padding: 10px; /* Espacio interno */
  width: 90%; /* Ancho del elemento */
  background-color: #e3f0e7; /* Color de fondo */
  margin-left: 3%; /* Margen a la izquierda */
}

.formularioEdificio input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.formularioEdificio input[type="submit"]:hover {
  background-color: #3e8e41;
}
.formularioEdificio input[type="submit"]:hover {
  background-color: #f30000; /* Color de fondo */
}

/*EDITAR USUARIO */


.EDITAR-USUARIO {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  background-color: #89d87f; /* Cambia el color a tu preferencia */
  margin-top: 50px; /* Agregar margen en la parte superior */
}

.EDITAR-USUARIO h1 {
  font-size: 24px;
  text-align: center;
}

.EDITAR-USUARIO label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.EDITAR-USUARIO select, input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.EDITAR-USUARIO  select:focus, input:focus {
  outline: none;
  border-color: #4CAF50;
}

.EDITAR-USUARIO input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.EDITAR-USUARIO  input[type="submit"]:hover {
  background-color: #f30000;
}

.EDITAR-USUARIO #campo-usuario, #campo-contra, #campo-nombrescompletos, #campo-email, #campo-telefono, #campo-direccion {
  display: none;
}

.EDITAR-USUARIO img {
  display: block; /* Convertir en bloque */
  margin: 0 auto; /* Centrar en la página */
  max-width: 200px; /* Ancho máximo */
  width: 100%; /* Ancho del elemento */
  height: auto; /* Altura automática */
  margin-bottom: 20px; /* Espacio inferior */
}
